/* Base Styles -------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: lightgreen; /*change to brand color*/
}


/* Nav Bar-classes ------------------ */
nav {
  background: url("");
  background-repeat: no-repeat;
  background-size: cover;
  height: 609px;
  a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  display: flex;
  align-items: baseline; }
  ul li:last-child {
    padding: 0.4rem 0.8rem;
    border: 2px solid #fff;
    border-radius: 3px; }

li {
  list-style: none;
  font-size: 1.5rem;
  margin: 0 13px;
  padding: 20px 11px;
  text-align: center;
  color: #fff;
}

.logo img {
  display: flex;
  margin: -10px 0 0 0;
  padding: 0 0 0 10px;
  max-width: 123px;
  justify-content: flex-start;
}
/* Hamburger Navbar ------------------ */
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* Banner-classes ------------------ */






/* Media-Query ------------------ */
@media screen and (max-width : 420px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li {
		width: 100%;
	}
  /*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
