<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">

<!-- Normalize -->
<link rel="stylesheet" href="/css/normalize.css">

<!-- Material Design fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap Material Design -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.css">
<link rel="stylesheet" type="text/css" href="/css/ripples.min.css">

<title>Fallenstedt Photo</title>
