
#search-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jumbotron {
  background-color: #689F38;
}
.jumbotron h1 {
  color: #F1F8E9;
}
.jumbotron p {
  color: #DCEDC8;
}

.controls {
  display: flex;
  justify-content: space-around;;

}

.button__bar {
  display: flex;
  justify-content: center;
}

.sharp {
  border-radius:0;
}

.btn {
    padding: 10px 18px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #558B2F;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #689F38;
}
.btn-primary:active, .btn-primary.active {
    background: #33691E;
    box-shadow: none;
}

.active {

}
.disabled {
  display: none;
}

@media only screen and (max-width : 992px) {
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    margin: 5px 0;
  }
}
