p {
  text-transform: uppercase;
  font-weight: bolder;
  color: #616161;
  font-size: .85em;
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  .row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
  }
}

.row1 {
  width: 40%;
  display: flex;
  justify-content: space-between;
  .strain-name {
    width: 200px;
  }
  .strain-disp {
    width: 200px;
  }
}
.row2 {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.row3 {
  width: 30%;
  display: flex;
  justify-content: space-between;
}


/* Small Devices, Tablets */
 @media only screen and (max-width : 768px) {

.all {
  display: flex;
  flex-direction: column;
  width: 100%;
  .row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

 }
