p {
  text-transform: uppercase;
  font-weight: bolder;
  color: #616161;
  font-size: .85em;
}

.strain-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
}
// .strain-percent{
//   justify-content: space-around;
//   display: flex;
//   width: 20%;
// }

.strain-name {
  display: flex;
  justify-content: space-between;
  width: 30%;

  .strain-name-text {
    display: flex;
    flex-direction: column;
  }

}
.strain-group {
  display: flex;
  justify-content: space-between;
  width: 20%;
  .strain-percent {
    display: flex;
    flex-direction: row;
    .strain-thc, .strain-cbd {
      margin-right: 10px;
    }
  }
}

.strain-price {
  display: flex;
  justify-content: space-between;
  width: 40%;
}



@media only screen and (max-width : 992px) {

  .strain-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .strain-name {
      width: 100%;
      justify-content: space-around;
    }

    .strain-percent {
      width: 100%;
      justify-content: space-around;
    }
    .strain-organic {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .strain-price {
      width: 100%;
      justify-content: space-around;
    }

  }

  .strain-group {
    display: flex;
    justify-content: center;
    width: 100%;
  }

}
