form {
  width: 50%;
  margin:auto;
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}



video#bgvid {
    position: fixed;
    top: 35vh;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
form {
  width: 50%;
  margin: auto; }

label {
  width: 25%; }

label, input {
  display: inline-block; }

input {
  width: 75%; }

input[type=submit] {
  width: 100%; }

video#bgvid {
  position: fixed;
  top: 35vh;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: contain; }

  .homepage-hero-module {
    position: absolute;
    top: 40vh;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;


  }

  .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .video-container .description .inner {
    font-size: 1em;
    width: 45%;
    margin: 0 auto;
  }
  .video-container .link {
    position: absolute;
    bottom: 3em;
    width: 100%;
    text-align: center;
    z-index: 1001;
    font-size: 2em;
    color: #fff;
  }
  .video-container .link a {
    color: #fff;
  }
  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  .video-container video.fillWidth {
    width: 100%;
  }

.featurette {
  margin-top: 75vh;
}
.headline {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -125;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  font-weight: bold;
  color: #F1F8E9;
}
#searchBar {
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 0;
  border-radius: 10px;
 }
 .ng-touched.ng-invalid {
   border: 1px solid red;
 }
