
.landing-text {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;

}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
form {
  width: 50%;
  margin: auto; }

label {
  width: 25%; }

label, input {
  display: inline-block; }

input {
  width: 75%; }

input[type=submit] {
  width: 100%; }

  .homepage-hero-module {
    position: absolute;
    top: 40vh;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;


  }


video {
    position: absolute;;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
  }

  .video-container {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }


.featurette {
  margin-top: 75vh;
}
.headline {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -125;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  font-weight: bold;
  color: #F1F8E9;
}

.sub-headline {
  display: flex;
  justify-content: center;
  font-size: 1.75em;
  font-weight: bold;
  color: #F1F8E9;
}

#searchBar {
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 0;
  border-radius: 10px;
 }
 .ng-touched.ng-invalid {
   border: 1px solid red;
 }
 #usernameLogin{
   display: flex;
   margin-left: -50px;
   width: 200%;
 }
 #passwordLogin{
   display: flex;
   margin-left: -50px;
   width: 200%;
 }
