form {
  width: 50%;
  margin:auto;
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}
.jumbotron{
  position: relative;
  z-index:-101;

}
video#bgvid {
  height:70vh;
  width:100vw;

}
