"*":
  welcome:
    showOnStartup: false
  editor:
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
