<form (ngSubmit)="onSubmit(form.value)" #form="ngForm" class="form-horizontal" id="dispensaryForm">

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name</label>
    <div class="col-sm-10">
      <input ngControl="name" #name="ngForm" class="form-control" type="text" name="name" id="name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="address">Address</label>
    <div class="col-sm-10">
      <input ngControl="address" #address="ngForm" class="form-control" type="text" name="address" id="address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="city">City</label>
    <div class="col-sm-10">
      <input ngControl="city" #city="ngForm" class="form-control" type="text" name="city" id="city">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="state">State</label>
    <div class="col-sm-10">
      <input ngControl="state" #state="ngForm" class="form-control" type="text" name="state" id="state">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="phone">Phone</label>
    <div class="col-sm-10">
      <input ngControl="phone" #phone="ngForm" class="form-control" type="text" name="phone" id="phone">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email</label>
    <div class="col-sm-10">
      <input ngControl="email" #email="ngForm" class="form-control" type="text" name="email" id="email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="hours">Hours</label>
    <div class="col-sm-10">
      <input ngControl="hours" #hours="ngForm" class="form-control" type="text" name="hours" id="hours">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="bio">Bio</label>
    <textarea ngControl="bio" #bio="ngForm" name="bio" id="bio" class="form-control" form="dispensaryForm" rows="8" cols="30"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="icon">Upload Icon URL</label>
    <div class="col-sm-10">
      <input  ngControl="icon" #icon="ngForm" class="form-control" type="text" name="icon" id="icon">
    </div>
  </div>
  <div class="col-sm-10">
    <input class="btn btn-default saveFormButton" type="submit" name="submit">
  </div>
</form>
