<div class="jumbotron jumbotron-fluid">
  <div id="search-banner" class="container">
    <h1 class="display-3">Cannabis Strain Search</h1>
    <p class="lead">Refine your results with filters to find for your preferred cannabis strain</p>
  </div>
</div>
<div class="container">

  <div class="controls">
    <button type="button" (click)="sort('name')" class="btn btn-primary btn-md outline">Name</button>
    <button type="button" (click)="sort('dispname')" class="btn btn-primary btn-md outline">dispensary</button>
    <div class="btn-group midButton">
      <button type="button" (click)="sort('thc')" class="btn btn-primary btn-md outline">THC</button>
      <button type="button" (click)="sort('cbd')" class="btn btn-primary btn-md outline">CBD</button>
    </div>

    <div class="btn-group">
      <button type="button" (click)="sort('rec_price_gram')" class="btn btn-primary btn-md outline">Gram</button>
      <button type="button" (click)="sort('rec_price_eighth')" class="btn btn-primary btn-md outline">1/8</button>
      <button type="button" (click)="sort('rec_price_quarter')" class="btn btn-primary btn-md outline">1/4</button>
      <button type="button" (click)="sort('rec_price_half')" class="btn btn-primary btn-md outline">1/2</button>
      <button type="button" (click)="sort('rec_price_ounce')" class="btn btn-primary btn-md outline">Ounce</button>
    </div>
  </div>
  <hr>
  <strain-view *ngFor="#strain of strains" [strain]="strain"></strain-view>

</div>
