<div class="container">
  <div class="all-disp">
    <div class="row1">
      <a href="#/dispensary/{{dispensary.id}}"><img src="{{dispensary.icon}}" alt="{{dispensary.name}} icon"/></a>
      <h4><a href="#/dispensary/{{dispensary.id}}">{{dispensary.name}}</a></h4>
    </div>
    <div class="group2-3">
      <div class="row2">
        <h6>{{dispensary.address}}</h6>
        <h6>{{dispensary.city}}, {{dispensary.state}}</h6>
        <h6>{{dispensary.hours}}</h6>
      </div>
      <div class="row3">
        <h6>{{dispensary.phone}}</h6>
        <h6>{{dispensary.email}}</h6>
      </div>
    </div>
  </div>
</div>
<hr>
