<div class="jumbotron jumbotron-fluid">
  <div id="search-banner" class="container">
    <h1 class="display-3">Cannabis Strain Search</h1>
    <p class="lead">Refine your results with filters to find for your preferred cannabis strain</p>
  </div>
</div>
<div class="container">
  <div class="controls">
    <button type="button" (click)="sort('name')" class="btn btn-primary btn-lg outline">Name</button>
    <div class="btn-group">
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">THC</button>
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">CBD</button>
    </div>
    <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">dispensary</button>

    <div class="btn-group">
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">Gram</button>
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">1/8</button>
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">1/4</button>
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">1/2</button>
      <button type="button" (click)="sort()" class="btn btn-primary btn-lg outline">Ounce</button>
    </div>
  </div>
  <hr>
  <strain-view *ngFor="#strain of strains" [strain]="strain"></strain-view>

</div>


<form (ngSubmit)="onSubmit(form.value)" #form="ngForm" class="form-horizontal" id="form" *ngIf="selectedStrain">
<h3>Add Strain</h3>
  <div class="form-group">
    <label class="control-label col-sm-2" for="strain-name">Strain</label>
    <div class="col-sm-10">
          <input ngControl="name" #name="ngForm" type="text" class="form-control" id="strain" placeholder="Blue Dream">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="thc-content">THC</label>
    <div class="col-sm-10">
          <input ngControl="thc" #thc="ngForm"  type="number" step="0.01" min="0" class="form-control" id="thc-content" placeholder="22.04">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="cbd-content">CBD</label>
    <div class="col-sm-10">
          <input ngControl="cbd" #cbd="ngForm"  type="number" step="0.01" min="0" class="form-control" id="cbd-content" placeholder="1.04">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="clean-green-certified">Clean Green Certified</label>
    <div class="col-sm-8">
          <input ngControl="cgc" #cgc="ngForm" type="checkbox" class="form-control" id="clean-green-certified" value="clean-green-certified">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="species">Species</label>
    <div class="col-sm-10">
      <select ngControl="species" #species="ngForm" name="species" class="form-control" id="species">
        <option value="sativa">Sativa</option>
        <option value="hybrid">Hybrid</option>
        <option value="indica">Indica</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <h3>Recreational Pricing</h3>
    <label class="control-label col-sm-2" for="gram-price">Gram</label>
    <div class="col-sm-10">
          <input ngControl="rec_price_gram" #recGramPrice="ngForm" type="number" min="0" class="form-control" id="rec_price_gram" placeholder="10">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="eigth-price">1/8</label>
    <div class="col-sm-10">
          <input ngControl="rec_price_eighth" #recEighthPrice="ngForm" type="number" min="0" class="form-control" id="rec_price_eighth" placeholder="35">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="quarter-price">1/4</label>
    <div class="col-sm-10">
          <input ngControl="rec_price_quarter" #recQuarterPrice="ngForm" type="number" min="0" class="form-control" id="rec_price_quarter" placeholder="70">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="half-price">1/2</label>
    <div class="col-sm-10">
          <input ngControl="rec_price_half" #recHalfPrice="ngForm" type="number" min="0" class="form-control" id="rec_price_half" placeholder="140">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="ounce-price">Oz</label>
    <div class="col-sm-10">
          <input ngControl="rec_price_ounce" #recOuncePrice="ngForm" type="number" min="0" class="form-control" id="rec_price_ounce" placeholder="200">
    </div>
  </div>
<div class="form-group">
  <h3>Medical Pricing</h3>
  <label class="control-label col-sm-2" for="gram-price">Gram</label>
  <div class="col-sm-10">
        <input ngControl="med_price_gram" #medGramPrice="ngForm" type="number" min="0" class="form-control" id="med_price_gram" placeholder="5">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="eigth-price">1/8</label>
  <div class="col-sm-10">
        <input  ngControl="med_price_eighth" #medEighthPrice="ngForm" type="number" min="0" class="form-control" id="med_price_eighth" placeholder="20">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="quarter-price">1/4</label>
  <div class="col-sm-10">
        <input ngControl="med_price_quarter" #medQuarterPrice="ngForm" type="number" min="0" class="form-control" id="med_price_quarter" placeholder="40">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="half-price">1/2</label>
  <div class="col-sm-10">
        <input ngControl="med_price_half" #medHalfPrice="ngForm" type="number" min="0" class="form-control" id="med_price_half" placeholder="80">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="ounce-price">Oz</label>
  <div class="col-sm-10">
        <input ngControl="med_price_ounce" #medOuncePrice="ngForm" type="number" min="0" class="form-control" id="med_price_ounce" placeholder="100">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="pic">Image</label>
  <input  ngControl="image" #image="ngForm" type="file" name="pic" accept="image/*">
</div>
<button class="btn btn-success">Add Strain</button>
</form>
