<header>
  <div class="landing-text">
    <h2 class="headline">Budtendr</h2>
    <h4 class="sub-headline">Find your next cannabis strain</h4>
  </div>
</header>

<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <video autoplay loop class="fillWidth">
      <source src="resources/img/ALX_6432.webm" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="resources/img/still.png" alt="">
    </div>
  </div>
</div>


<!-- Page Content -->
<div class="container">
  <div id="searchBar" class="input-group input-group-lg">
    <form (ngSubmit)="search(form.value)" #srchForm="ngForm">
    <input type="text" class="form-control" ngControl="search" placeholder="Blue Dream..." aria-describedby="sizing-addon1">
    <div class="input-group-btn">
      <button id="searchButton" class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
    <!-- First Featurette -->
    <div class="featurette" id="about">
      <img class="featurette-image
      img-circle img-responsive pull-right" src="http://placehold.it/500x500">
      <div id="featurette-info1">
        <h2 class="featurette-heading">Search over thousands of strains available in
          <span class="text-muted">Portland, OR</span>
        </h2>
        <p class="lead">Whether you are looking for the highest testing cannabis strain or the best deal in the city, use Budtendr's <b>SearchLINK TO SEARCH RESULTS GOES HERE</b> tool to browse thousands of strains and filter them by their results, prices, and more.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="services">
      <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">

      <div id="featurette-info2">
        <h2 class="featurette-heading">Find Dispensaries near
          <span class="text-muted">you</span>
        </h2>
        <p class="lead">Browse dispensaries near you and explore their cannabis flowers, edibles and concentrates.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="join">
      <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
      <div id="featurette-info3">
        <h2 class="featurette-heading">Join the Budtendr
          <span class="text-muted">Community</span>
        </h2>
        <p class="lead">Recieve our top 10 local highest testing strains and deals every week.  </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Budtendr 2016</p>
        </div>
      </div>
    </footer>

  </div>
