<div class="all">
  <div class="row1">
    <div class="strain-name">
      <p>{{strain.geno}}</p>
      <h4>{{strain.name}}</h4>
    </div>
    <div class="strain-disp">
      <p>Dispensary</p>
      <a href="/#/dispensary/{{strain.dispensary_id}}"><h4>{{strain.dispname}}</h4></a>
    </div>
  </div>

  <div class="row2">
    <div class="strain-thc">
      <p>THC</p>
      <h4>{{strain.thc}}%</h4>
    </div>
    <div class="strain-cbd">
      <p>CBD</p>
      <h4>{{strain.cbd}}%</h4>
    </div>
  </div>
  <div class="row3">
    <div class="strain-gram">
      <p>gram</p>
      <h4>${{strain.rec_price_gram}}</h4>
    </div>
    <div class="strain-eighth">
      <p>1/8</p>
      <h4>${{strain.rec_price_eighth}}</h4>
    </div>
    <div class="strain-quarter">
      <p>1/4</p>
      <h4>${{strain.rec_price_quarter}}</h4>
    </div>
    <div class="strain-half">
      <p>1/2</p>
      <h4>${{strain.rec_price_half}}</h4>
    </div>
    <div class="strain-ounce">
      <p>Ounce</p>
      <h4>${{strain.rec_price_ounce}}</h4>
    </div>
  </div>

</div>


<hr>
<br>
