
<div class="strain-header">
  <div class="strain-name">
    <div class="strain-name-text">
      <p>{{strain.geno}}</p>
      <h4>{{strain.name}}</h4>
    </div>
    <span class="glyphicon glyphicon-plus strain-disp"></span>
  </div>

  <div class="strain-group">
    <div class="strain-percent">
      <div class="strain-thc">
        <p>THC</p>
        <h4>{{strain.thc}}%</h4>
      </div>
      <div class="strain-cbd">
        <p>CBD</p>
        <h4>{{strain.cbd}}%</h4>
      </div>
    </div>
    <div class="strain-organic">
      <p>Organic</p>
      <h4>{{strain.organic}}</h4>
    </div>
  </div>
  <div class="strain-price">

    <div class="strain-gram">
      <p>gram</p>
      <h4>10{{strain.rec_price_gram}}</h4>
    </div>
    <div class="strain-eighth">
      <p>1/8</p>
      <h4>20{{strain.rec_price_eighth}}</h4>
    </div>
    <div class="strain-quarter">
      <p>1/4</p>
      <h4>30{{strain.rec_price_quarter}}</h4>
    </div>
    <div class="strain-half">
      <p>1/2</p>
      <h4>40{{strain.rec_price_half}}</h4>
    </div>
    <div class="strain-ounce">
      <p>Ounce</p>
      <h4>50{{strain.rec_price_ounce}}</h4>
    </div>
  </div>
  <br>
</div>
